process {
   executor = 'slurm'
   queue = 'carl.p'
   cpus = 1
   memory = 2.GB
   time = { 1.h * task.attempt }
   errorStrategy = { task.exitStatus == Integer.MAX_VALUE ? 'retry' : 'finish' }
   maxRetries = 1
   maxErrors = '-1'

	 withLabel: "L_loc.*" {
		executor='local'
	 }

	 withLabel: "L_long_loc.*" {
		executor='local'
		time = { 2000.h * task.attempt }
	 }

	 withLabel: "L_2g5m_.*" {
       time = { 5.m * task.attempt }
    }
}

trace { enabled = true }
report { enabled = true }